/* Variables*/
:root {
    --first: black;
    --second: rgb(218, 40, 40);
    --third: Beige;
    --fourth: red;
    --size: 2em;
}

/* Reset*/
* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* styles.css */

body {
    background-color: #f0f0f0;
    display: flex;
    height: 100hv;
    align-items: center;
    text-align: center;
    background-image: url(../assets/background.jpg);

}

#container {
    margin: 0px auto;
    padding: 5% 0;
}



#randomize-btn {
    border-radius: 5px;
}

#explanation {
    display: none;
}

h1,
h3 {
    color: #fff;
}

h3 {
    font-weight: 100px;
}

label {
    color: #fff;
    font-size: 30px;
}

p {
    color: #fff;
    font-size: 30px;
}

p span {
    background-color: #007bff;
}

h3 span {
    background-color: #007bff;
}

#notes-display {
    margin: 2%;
}

#input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.question {
    margin: 2%;
    font-weight: bold;
}

#main-counter {
    font-size: 100px;
    color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#correctMessage,
#incorrectMessage,
#streak {
    display: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#correctMessage {
    background-color: lightgreen;
}

#incorrectMessage {
    background-color: salmon;
}

#streak {
    display: block;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box {
    position: absolute;
    width: 60px;
    height: 20px;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#distance-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#distance-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#distance-input {
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
}

#submit-distance {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#submit-distance:hover {
    background-color: #45a049;
}

#submit-distance:active {
    background-color: #3e8e41;
}